{
    "plugins": [
        // "babel-dop",
        // "dynamic-import-webpack",
        ["babel-root-slash-import", { "rootPathSuffix": "src/" }]
    ],
    "presets": [["es2015", { "modules": false }], "react"]
}
